body {
  font-family: 'Princess Sofia', cursive;
  text-align: center;
  font-size: 24pt;
  background: url(/pink.jpg);
}

a {
  color: #9933CC;
}

a:hover {
  color: #9933CC;
  font-weight: bold;
  text-shadow: 10px 10px 10px #CC0066;
  text-decoration: none;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 50pt;
  color: #CC0066;
  margin-top: 80px;
  margin-bottom: 40px;
}

.btn {
  width: 200px;
  height: 80px;
  font-size: 20pt;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #CC0066;
  color: white;
}

#home {
  width: 250px;
  height: 80px;
  font-size: 20pt;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #orange;
  padding-top: 18px;
}

#name {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
